{% if articles %}
{% for data in articles %}
          <div class="post-card">
            <img src="{{ data.urlToImage }}" alt="Thumbnail" class="post-thumbnail">
            <a href="/{{ data.vlog_url }}">
              <div class="post-card-content">
                <h3 class="post-title">{{ data.title|default:'No Title' }}</h3>
                <p class="post-description">{{ data.description|default:'No description available' }}</p>
                <span class="post-more">Click here...</span>
              </div>
            </a>
          </div>
{% if "end" in data %}
  <footer class="text-center p-4 text-gray-600">
    &copy; {{ time }} Your Website. All Rights Reserved.
  <footer>

  <!-- JavaScript -->
{% endif %} 
{% endfor %}
{% endif %} 
